h1 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  font-weight: bold;
}

h4 {
  font-size: 50px;
  font-weight: bold;
}

h5 {
  font-size: 60px;
  font-weight: bold;
}

h6 {
  font-size: 70px;
  font-weight: bold;
}

.my-class .button-primary {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.my-class .button-secondary {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.my-class .button-error {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 16px;
}

.text-large {
  font-size: 24px;
}

.m-0 {
  margin: 0;
}

.m-8px {
  margin: 8px;
}

.m-16px {
  margin: 16px;
}

.m-32px {
  margin: 32px;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.text-blue {
  color: blue;
}

.text-purple {
  color: purple;
}

.text-yellow {
  color: yellow;
}

div.root {
  height: calc(100px + 20%);
  width: 600px;
  background: #fff;
}

:root {
  --my-color: green;
}

h1 {
  color: var(--my-color);
  border-bottom: 1px solid green;
}

.test {
  border-top: 2px;
  border-bottom: 4px;
  border-left: 2px;
  border-right: 5px;
}

section.shopping-list h3 {
  color: blue;
}
section.shopping-list ul {
  border: 1px solid gray;
}
section.shopping-list ul > li {
  color: red;
}
section.shopping-list ul > li:hover {
  background-color: lightgray;
}
[dir=rtl] section.shopping-list ul > li {
  color: green;
}
