@use "common-buttons" as btn;
@use "syntax-highlight" as stx;
@use "theme";

@include btn.go;
@include stx.go;
@include theme.color-system;

:root {
  // Theme colors
  @include theme.create(
    $primary: oklch(0.75 0.162 0),
    $accent: oklch(0.8 0.25 100),
    $scheme: light
  );

  // Shadows
  --shadow-light: rgba(0, 0, 0, 0.05);
  --shadow-medium: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.15);

  // Special colors
  --foreground-translucent: rgb(from var(--n-0) r g b / 0.6);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
