/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --grey-01: oklch(99% 0 0);
  --grey-02: oklch(93% 0 0);
  --grey-03: oklch(82% 0 0);
  --grey-04: oklch(72% 0 0);
  --grey-05: oklch(67% 0 0);
  --grey-06: oklch(50% 0 0);
  --grey-07: oklch(42% 0 0);
  --grey-08: oklch(33% 0 0);
  --grey-09: oklch(20% 0 0);
  --grey-10: oklch(09% 0 0);

  --clr-01: oklch(from var(--base) 99% 0.02 h);
  --clr-02: oklch(from var(--base) 93% 0.04 h);
  --clr-03: oklch(from var(--base) 82% 0.07 h);
  --clr-04: oklch(from var(--base) 72% 0.1 h);
  --clr-05: oklch(from var(--base) 67% 0.14 h);
  --clr-06: oklch(from var(--base) 50% 0.1 h);
  --clr-07: oklch(from var(--base) 42% 0.08 h);
  --clr-08: oklch(from var(--base) 33% 0.05 h);
  --clr-09: oklch(from var(--base) 20% 0.03 h);
  --clr-10: oklch(from var(--base) 09% 0.01 h);

  --p-05: light-dark(var(--clr-01), var(--clr-10));
  --p-10: light-dark(var(--clr-02), var(--clr-09));
  --p-20: light-dark(var(--clr-03), var(--clr-08));
  --p-30: light-dark(var(--clr-04), var(--clr-07));
  --p-40: light-dark(var(--clr-05), var(--clr-06));
  --p-50: light-dark(var(--clr-06), var(--clr-05));
  --p-60: light-dark(var(--clr-07), var(--clr-04));
  --p-70: light-dark(var(--clr-08), var(--clr-03));
  --p-80: light-dark(var(--clr-09), var(--clr-02));
  --p-90: light-dark(var(--clr-10), var(--clr-01));

  --n-05: light-dark(var(--grey-01), var(--grey-10));
  --n-10: light-dark(var(--grey-02), var(--grey-09));
  --n-20: light-dark(var(--grey-03), var(--grey-08));
  --n-30: light-dark(var(--grey-04), var(--grey-07));
  --n-40: light-dark(var(--grey-05), var(--grey-06));
  --n-50: light-dark(var(--grey-06), var(--grey-05));
  --n-60: light-dark(var(--grey-07), var(--grey-04));
  --n-70: light-dark(var(--grey-08), var(--grey-03));
  --n-80: light-dark(var(--grey-09), var(--grey-02));
  --n-90: light-dark(var(--grey-10), var(--grey-01));
}

:root {
  --base: blue;
  color-scheme: light dark;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 4px 0px;
  background: var(--n-20);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--p-30);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--p-40);
}
