<app-playground/>

<app-card class="pal-1 palette" [style.--base-color]="'brown'"/>

<div class="palettes">
  <div class="palette" >
    <h1 class="title">Original</h1>
    <div class="item">10</div>
    <div class="item">20</div>
    <div class="item">30</div>
    <div class="item">40</div>
    <div class="item">50</div>
    <div class="item">60</div>
    <div class="item">70</div>
    <div class="item">80</div>
    <div class="item">90</div>
  </div>
  <div class="palette pal-1">
    <h1 class="title">Alternative 1</h1>
    <div class="item">10</div>
    <div class="item">20</div>
    <div class="item">30</div>
    <div class="item">40</div>
    <div class="item">50</div>
    <div class="item">60</div>
    <div class="item">70</div>
    <div class="item">80</div>
    <div class="item">90</div>
  </div>
  <div class="palette pal-2">
    <h1 class="title">Alternative 2</h1>
    <div class="item">10</div>
    <div class="item">20</div>
    <div class="item">30</div>
    <div class="item">40</div>
    <div class="item">50</div>
    <div class="item">60</div>
    <div class="item">70</div>
    <div class="item">80</div>
    <div class="item">90</div>
  </div>
</div>

