@use "sass:color";

$my-color: green; // scss variable
$primary-color: color.scale($my-color, $lightness: 20%);
$prop: border;
$theme: "light";

@debug "my-color is: ", $my-color;
@warn "my-color is: ", $my-color;
// @error "my-color is: " $my-color;

$background: if($theme == "dark", #000, #fff);

@function double($number) {
  $result: $number * 2;
  @return $result;
}

@function maxValue($value1, $value2) {
  @return if($value1 > $value2, $value1, $value2);
}

div.root {
  height: calc(100px + 20%);
  width: double(300px);
  background: $background;
}

:root {
  // css variable
  --my-color: #{$my-color};
}

h1 {
  color: var(--my-color);
  border-bottom: 1px solid $my-color;

  @debug "The current parent is: " &;
}

.test {
  #{$prop}-top: 2px;
  #{$prop}-bottom: 4px;
  #{$prop}-left: 2px;
  #{$prop}-right: 5px;
}

section.shopping-list {
  h3 {
    color: blue;
  }
  ul {
    border: 1px solid gray;

    > li {
      color: red;

      &:hover {
        background-color: lightgray;
      }

      [dir="rtl"] & {
        color: green;
      }
    }
  }
} // end section.shopping-list
