$my-color: green;

h1 {
  color: $my-color;
  border-bottom: 1px solid $my-color;
}

section.shopping-list {
  h3 {
    color: blue;
  }
  ul {
    border: 1px solid gray;

    > li {
      color: red;

      &:hover {
        background-color: lightgray;
      }

      [dir="rtl"] & {
        color: green;
      }
    }
  }
} // end section.shopping-list
