:host {
  background-color: var(--n-05);
  border: 2px solid var(--n-20);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      color: var(--p-50);
      font-size: 1.3rem;
      padding-inline-end: 6px;
    }

    .badge {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--p-30);
      color: var(--p-05);
      width: 9em;
      height: 1.8em;
      border-radius: 12px;
      font-size: 0.875rem;
      text-transform: uppercase;
    }
  }

  .card-body {
    flex: 1;
    .description {
      color: var(--n-50);
      margin: 0;
      font-size: 1rem;
    }

    .details {
      margin-top: 12px;

      p {
        margin: 4px 0;
        color: var(--n-60);
        font-size: 0.875rem;

        strong {
          color: var(--p-30);
        }
      }
    }
  }

  .card-footer {
    display: flex;
    justify-content: flex-end;

    .action-button {
      background-color: var(--p-50);
      color: var(--n-05);
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      font-size: 0.875rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--p-60);
      }

      &:active {
        background-color: var(--p-80);
      }
    }
  }
}
